@Model Motherboard
@Model Processor 

<div>
    <img class="img-thumbnail" src="@Model.img" width="300" height="400" />
    <h1>@Model.name</h1>
    <h2>Модель: @Model.producer</h2>
    <p>Сокет: @Model.socket</p>
</div>