@using ConstructPC.Data.Models
@using System.Web.WebPages
@Model PcBuilderViewModel
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="img-pc" src="~/img/ConstructAva.jpg" style="width:100%;" />
            <div class="container">
                <div class="carousel-caption text-center">
                    <h1 id="text1">Вас вітає Конструктор ПК</h1>
                    <h3 id="text1">Гайда виберемо 'цяцьку' для вас</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<img id="imagen" class="displayed" src="/img/Mothers/AM4_Giga.jpg" style="max-width:200px; display:block; margin: 0px auto" />

<h3 id="text1">Материнська плата: Gigabyte Aorus Elite</h3>
<img id="imagen" class="displayed" src="/img/amd.png" style="max-width:200px; display:block; margin: 0px auto" />

<h3 id="text1">Процесор: Ryzen 5 3500X Ядра:6 Потоки:6 3,6Ггц</h3>
<img id="imagen" class="displayed" src="/img/nvidia.png" style="max-width:200px; display:block; margin: 0px auto" />

<h3 id="text1">Відеокарта: NVIDIA RTX 3050 8GB</h3>
<img id="imagen" class="displayed" src="/img/2RAM DDR4.jpg" style="max-width:200px; display:block; margin: 0px auto" />

<h3 id="text1">Оперативна пам'ять: DDR4 32GB 3200Ггц </h3>
<img id="imagen" class="displayed" src="/img/Cooling/IceHill.jpg" style="max-width:200px; display:block; margin: 0px auto" />

<h3 id="text1">Помпа: IceHill TDP 200W</h3>
<img id="imagen" class="displayed" src="/img/SamsungM2.jpg" style="max-width:200px; display:block; margin: 0px auto" />

<h3 id="text1">Постійна пам'ять: Samsung M2 500GB</h3>
<img id="imagen" class="displayed" src="/img/GigabytePGM850.jpg" style="max-width:200px; display:block; margin: 0px auto" />

<h3 id="text1">Блок Живлення: Gigabyte PGM 850W "Gold"</h3>
<img id="imagen" class="displayed" src="/img/Cases/Case_msiATX.jpg" style="max-width:200px; display:block; margin: 0px auto" />

<h3 id="text1">Корпус: MPG SEKIRA</h3>











